@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0 15rem;
    font-family: 'Poppins', sans-serif;
}

main, header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1, header .description {
    margin-top: 1rem;
}

header .description {
    width: 50%;
}

main div:nth-of-type(2) {
    margin-top: 2rem;
}

main div img {
    width: 200px;
    height: 250px;
}

main div figcaption {
    margin-bottom: 2rem;
}

main div figcaption:last-of-type {
    transform: translate(100%, 100%), rotate(45deg);
}

footer {
    text-align: center;
    color: gray;
    margin-top: 2rem;
}

footer a {
    text-decoration: none;
    color: gray;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 2rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header .description {
        width: 80%;
        font-size: 0.7rem;
    }

    main div img {
        width: 100px;
        height: 130px;
    }
}
